.button {
  display: block;
  width: 256px;
  min-height: 52px;

  border: solid 2px @border-black;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: @bg-dark-grey;
  color: @bg-white;
}

.button:active {
  background-color: @bg-dark-grey;
  color: rgba(255, 255, 255, 0.3);
}

a.button {
  min-height: 35px;
  padding-top: 13px;
}

.button--catalog {
  width: 188px;
}

@media (min-width: @tablet-width) {
  .button {
    width: 287px;
  }
}
