.button {
  display: block;
  width: 256px;
  min-height: 52px;

  border: solid 2px @border-black;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

a.button {
  min-height: 35px;
  padding-top: 13px;
}

.button--catalog {
  width: 188px;
}

@media (min-width: @tablet-width) {
  .button {
    width: 287px;
  }
}
