.page-footer__copyright {
  background-color: @bg-white-two;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-black;
  font-weight: bold;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
}
