.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-black;
  font-weight: bold;
}

.copyright__link {
  .mp-reset();
}

.copyright__link svg {
  fill: @bg-sea-foam-blue;
}
