.offer-list {
  .list-reset();
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.offer-list__title {
  width: 110px;
  font-size: 19px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-white;
  font-weight: bold;
}

.offer-list__item a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 29px;
  padding-top: 24px;
  padding-bottom: 3px;
}

.offer-list__item--interior-items {
  background-color: @bg-sea-foam-blue;
}

.offer-list__item--interior-items:hover,
.offer-list__item--interior-items:focus {
  background-color: @bg-sea-foam-blue-two;
  margin-top: -5px;
  padding-bottom: 5px;
}

.offer-list__item--interior-items:active {
  background-color: @bg-sea-foam-blue-two;
  margin-top: 0;
}

.offer-list__item--interior-items:active .offer-list__title,
.offer-list__item--kids-toys:active .offer-list__title {
  color: rgba(255, 255, 255, 0.3);
}

.offer-list__item--kids-toys {
  background-color: @bg-dark-sea-foam-blue;
}

.offer-list__item--kids-toys:hover,
.offer-list__item--kids-toys:focus {
  background-color: @bg-dark-sea-foam-blue-two;
  margin-top: -5px;
  padding-bottom: 5px;
}

.offer-list__item--kids-toys:active {
  background-color: @bg-dark-sea-foam-blue-two;
  margin-top: 0;
  padding-bottom: 0;
}

.offer-list__item--interior-items svg {
  width: 40px;
  height: 62px;
  margin-bottom: 15px;
  margin-right: 35px;
  fill: @fill-blue-green;
  object-fit: contain;
  opacity: 0.5;
}

.offer-list__item--interior-items:hover svg,
.offer-list__item--interior-items:focus svg {
  object-fit: contain;
  opacity: 0.7;
}

.offer-list__item--interior-items:active svg {
  object-fit: contain;
  opacity: 0.3;
}

.offer-list__item--kids-toys svg {
  width: 60px;
  height: 60px;
  margin-top: -5px;
  margin-bottom: 20px;
  margin-right: 26px;
  fill: @fill-blue-green;
  object-fit: contain;
  opacity: 0.5;
}

.offer-list__item--kids-toys:hover svg,
.offer-list__item--kids-toys:focus svg {
  object-fit: contain;
  opacity: 0.7;
}

.offer-list__item--kids-toys:active svg {
  object-fit: contain;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .offer-list {
    .list-reset();
    max-width: 1050px;
    flex-direction: row;
    justify-content: center;
  }

  .offer-list__item {
    width: 334px;
  }

  .offer-list__item a {
    width: 297px;
    padding-left: 37px;
    padding-top: 26px;
    padding-bottom: 6px;
  }

  .offer-list__title {
    font-size: 20px;
    line-height: 30px;
  }

  .offer-list__item--interior-items svg {
    margin-top: 2px;
    margin-bottom: 0;
    margin-right: 35px;
  }

  .offer-list__item--kids-toys svg {
    margin-top: 4px;
    margin-right: 34px;
  }
}

@media (min-width: @desktop-width) {
  .offer-list__item {
    width: 525px;
  }

  .offer-list__item a {
    width: 490px;
    padding-left: 35px;
    padding-top: 28px;
  }
}
