.page-header {
  min-width: 320px;
}

.page-header__wrapper {
  height: 79px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  margin-bottom: 22px;
  margin-top: 22px;
  margin-left: 116px;
  margin-right: auto;
}

.page-header__toggle {
  margin-top: 14px;
  margin-right: 33px;
}
