.page-footer__social {
  background-color: @bg-white-two;
}

.page-footer__write {
  font-size: 18px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-black;
  font-weight: bold;

  background-color: @bg-white;
}

.page-footer__map {
  width: 322px;
  height: 457px;

  background-image: url("../../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
