.production {
  .mp-reset();
  width: 260px;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: solid 1px @border-shadows-grey;
}

.production:hover,
.production:active {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.production__title {
  .mp-reset();
  position: relative;
  width: 150px;
  padding-top: 22px;
  padding-left: 91px;
  padding-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-black;
  font-weight: bold;
}

.production__title::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 35px;
  width: 32px;
  height: 32px;
  background: url("../../img/icon-video.svg") no-repeat 50% 50%;
  background-size: 32px 32px;
}

.production__text {
  .mp-reset();
  width: 190px;
  padding-top: 26px;
  padding-left: 34px;
  font-size: 13px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-dark-grey;
  font-weight: normal;
}

.production__video {
  display: block;
  position: relative;
}

.production__show {
  .button-norm();
  position: absolute;
  top: 35px;
  left: 82px;
  background-color: transparent;
  outline: none;
  border: none;
}

.production__show:hover,
.production__show:focus {
  top: 28px;
  left: 70px;
  outline: none;
}

.production__show:active {
  top: 42px;
  left: 90px;
  outline: none;
}

.production__show svg {
  width: 101px;
  height: 77px;
}

.production__show:hover svg {
  width: 121px;
  height: 92px;
}

.production__show:active svg {
  width: 81px;
  height: 62px;
  object-fit: contain;
  opacity: 0.3;
}

.production__button-order {
  .mp-reset();
  width: 192px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 32px;

  font-size: 17px;
  line-height: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-black;
  font-weight: bold;
  text-transform: uppercase;
  background-color: @bg-white;
}

@media (min-width: @tablet-width) {
  .production {
    width: 667px;
    margin-top: 0;
    margin-bottom: 61px;
  }

  .production__video {
    order: -1;
  }

  .production__video img {
    order: -1;
    width: 668px;
    height: 455px;
    background-size: cover;
  }

  .production__show {
    top: 187px;
    left: 283px;
  }

  .production__show:hover,
  .production__show:focus {
    top: 178px;
    left: 273px;
    outline: none;
  }

  .production__show:active {
    top: 194px;
    left: 291px;
    outline: none;
  }

  .production__title {
    width: 300px;
    padding-top: 34px;
    padding-left: 105px;

    font-size: 20px;
    line-height: 24px;
  }

  .production__title::before {
    left: 42px;
  }

  .production__text {
    width: 581px;
    padding-top: 7px;
    padding-left: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__button-order {
    width: 582px;
    margin-top: 37px;
    margin-bottom: 44px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    position: relative;
    width: 1049px;
    min-height: 455px;
    flex-wrap: wrap;
    margin-top: 26px;
    margin-bottom: 101px;
  }

  .production__video img {
    order: -1;
    width: 682px;
    position: absolute;
  }

  .production__show {
    left: 288px;
  }

  .production__show:hover,
  .production__show:focus {
    top: 184px;
    left: 280px;
  }

  .production__show:active {
    top: 198px;
    left: 302px;
    outline: none;
  }

  .production__title {
    width: 160px;
    padding-top: 95px;
    padding-left: 37px;
    margin-right: 130px;
    margin-left: auto;
  }

  .production__title::before {
    left: 40px;
    top: 41px;
  }

  .production__text {
    width: 230px;
    margin-right: 60px;
    margin-left: auto;
    padding-top: 9px;
    padding-left: 39px;
    padding-bottom: 3px;
  }

  .production__button-order {
    width: 228px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 57px;
    margin-left: auto;
  }
}
