.production {
  .mp-reset();
  width: 260px;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: solid 1px @border-shadows-grey;
}

.production__title {
  .mp-reset();
  position: relative;
  width: 150px;
  padding-top: 22px;
  padding-left: 91px;
  padding-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-black;
  font-weight: bold;
}

.production__title::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 35px;
  width: 32px;
  height: 32px;
  background: url("../../img/icon-video.svg") no-repeat 50% 50%;
  background-size: 32px 32px;
}

.production__text {
  .mp-reset();
  width: 190px;
  padding-top: 24px;
  padding-left: 34px;
  font-size: 13px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-dark-grey;
  font-weight: normal;
}

.production__video {
  display: block;
  position: relative;
}

.production__show {
  position: absolute;
  top: 35px;
  left: 82px;
}

.production__button-order {
  .mp-reset();
  width: 192px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 32px;

  font-size: 17px;
  line-height: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-black;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .production {
    width: 667px;
    margin-top: 0;
    margin-bottom: 61px;
  }

  .production__video {
    order: -1;
  }

  .production__video img {
    order: -1;
    width: 668px;
    height: 455px;
    background-size: cover;
  }

  .production__show {
    top: 190px;
    left: 280px;
  }

  .production__title {
    width: 300px;
    padding-top: 34px;
    padding-left: 105px;

    font-size: 20px;
    line-height: 24px;
  }

  .production__title::before {
    left: 42px;
  }

  .production__text {
    width: 581px;
    padding-top: 7px;
    padding-left: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__button-order {
    width: 582px;
    margin-top: 37px;
    margin-bottom: 44px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    width: 1049px;
    height: 455px;
    flex-wrap: wrap;
    margin-top: 28px;
    margin-bottom: 101px;
  }

  .production__video img {
    order: -1;
    width: 682px;
  }

  .production__show {
    left: 288px;
  }

  .production__title {
    width: 160px;
    padding-top: 93px;
    padding-left: 37px;
  }

  .production__title::before {
    left: 40px;
    top: 41px;
  }

  .production__text {
    width: 230px;
    padding-top: 11px;
    padding-left: 37px;
  }

  .production__button-order {
    width: 230px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 57px;
    margin-left: auto;
  }
}
