.site-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.site-list__item {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-left: 76px;
  padding-bottom: 30px;
  padding-right: auto;
  border-top: solid 1px @border-shadows-grey;
}

.site-list__item--link {
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @font-black;
  font-weight: bold;

  background-color: @bg-white;
}
