body {
  .mp-reset();
  min-width: 320px;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: @font-black;
  font-style: normal;

  background-color: @bg-white;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
